.underline{
    height: 4px;
    width: 120px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 999px){
    
    .col-md-3{
        padding-left: 50px;
    }

   

}

@media screen and (max-width: 690px){
    .carouselExampleAutoplaying{
        font-size: 14px;
        margin-right: 0;
    }

   
}